<header class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><img src="http://thegoodride.com/assets/lg-gallery//logo-final.png" style="max-height:41px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">单板<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">男式</a></li>
            <li><a href="#">女式</a></li>
            <li class="divider"></li>
            <li><a href="#">关于单板的相关说明</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">固定器<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">男式</a></li>
            <li><a href="#">女式</a></li>
            <li class="divider"></li>
            <li><a href="#">关于固定器的相关说明</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">雪鞋<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">男式</a></li>
            <li><a href="#">女式</a></li>
            <li class="divider"></li>
            <li><a href="#">关于雪鞋的相关说明</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">配件<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">头盔</a></li>
            <li><a href="#">雪镜</a></li>
            <li><a href="#">摄像机</a></li>
            <li><a href="#">护具</a></li>
            <li><a href="#">手套</a></li>
            <li><a href="#">袜子</a></li>
            <li><a href="#">鞋垫</a></li>
            <li><a href="#">板架</a></li>
            <li><a href="#">教学</a></li>
            <li class="divider"></li>
            <li><a href="#">雪板专用工具箱</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">雪服<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">男式上衣</a></li>
            <li><a href="#">女式上衣</a></li>
            <li><a href="#">男式雪裤</a></li>
            <li><a href="#">女式雪裤</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">关于网站</a></li>
            <li><a href="#">关于开发者</a></li>
            <li><a href="#">关于翻译</a></li>
            <li class="divider"></li>
            <li><a href="#">我们的朋友</a></li>
          </ul>
        </li>
        <li><a href="#">联系我们</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div>
</header>