<!DOCTYPE html>
<html>
<head>
  <title>Ski2022</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/lightbox.min.css">
  <script type='text/javascript' src='/js/jquery.lightbox.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
